<h2 mat-dialog-title>Agregar Producto</h2>
<mat-dialog-content>
  <form [formGroup]="productoForm">

    <mat-form-field appearance="fill">
      <input matInput placeholder="Código" formControlName="codigo" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput placeholder="Nombre" formControlName="nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <textarea matInput placeholder="Descripción" formControlName="descripcion"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="number" placeholder="Cantidad" formControlName="cantidad" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="number" placeholder="Precio Compra" formControlName="precioCompra" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput type="number" placeholder="Precio Venta" formControlName="precioVenta" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select placeholder="Categoría" formControlName="categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
          {{ categoria.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Campo de archivo fuera del mat-form-field -->
    <div>
      <label for="file">Imagen del Producto</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" id="file" />
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!productoForm.valid">
    Guardar
  </button>
</mat-dialog-actions>
